<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Comprobante de Pago</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <div class="row justify-content-center border-bottom border-info bg-info">
        <div class="col-md-2 text-right">
            <img src="{% static 'logo.jpg' %}" alt="Logo" class="img-fluid" style="max-width: 120px;">
        </div>
        <div class="col-4 text-center">
            <div class="text-center ">
                <h1 class="display-2 text-justify text-light ">CurseraMusical</h1>
            </div>
        </div>
    </div>
</head>
<body class="bg-dark text-white">
    <div class="container mt-5">
        <div class="alert alert-success mt-3 text-center" role="alert">
            ¡Pago exitoso!
        </div>

        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Volver al Inicio</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<footer class="bg-dark text-light text-center py-4">
    <p>&copy; 2023 Derechos reservados</p>
</footer>
</html>
