<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reservar Clase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <div class="row justify-content-center border-bottom border-info bg-info">
        <div class="col-md-2 text-right">
            <img src="{% static 'logo.jpg' %}" alt="Logo" class="img-fluid" style="max-width: 120px;">
        </div>
        <div class="col-4 text-center">
            <div class="text-center ">
                <h1 class="display-2 text-justify ">CurseraMusical</h1>
            </div>
        </div>
    </div>
</head>
<body class="bg-dark text-white">
    <div class="container mt-5">
        <h1 class="text-info">Reservar Clase - {{ clase.nombre }}</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <img src="{{ clase.imagen.url }}" class="img-fluid" alt="Clase Imagen" style="width: 400px; height: 300px;">
            </div>
            <div class="col-md-6">
                <div class="card text-white bg-dark border-info">
                    <div class="card-body">
                        <h2 class="card-title">{{ clase.nombre }}</h2>
                        <p class="card-text">
                            <strong>Horario:</strong> {{ clase.horario }} <br>
                            <strong>Cupos Disponibles:</strong> {{ clase.cupos_disponibles }}
                        </p>
                        {% if clase.cupos_disponibles > 0 %}
                        <form method="post" id="reservaForm">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p class="card-text"><strong>Precio:</strong> ${{ clase.precio }}</p>
                            <input type="hidden" id="id_total_pago" name="total_pago" value="{{ clase.precio }}">
                            <input type="submit" class="btn btn-primary" value="Pagar">
                        </form>
                        {% else %}
                        <p class="card-text text-danger">No hay cupos disponibles para esta clase.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<footer class="bg-dark text-light text-center py-4">
    <p>&copy; 2023 Derechos reservados</p>
</footer>
</html>