<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">Listado de clientes</div>

    {% if proyectos %}

    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Fecha inicio</th>
                <th>Fecha termino</th>
                <th>Numero de habitacion</th>
                <th>Cantidad de clientes</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.rut }}</td>
                <td>{{ proyecto.fechaInicio }}</td>
                <td>{{ proyecto.fechaTermino }}</td>
                <td>{{ proyecto.numeroHabitacion }}</td>
                <td>{{ proyecto.cantidadClientes }}</td>
                <td><a href="/actualizarProyecto/{{ proyecto.id }}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></td>
                <td><a href="/eliminarProyecto/{{ proyecto.id }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <div class="alert alert-primary" role="alert">
        <strong>No se encuentran clientes en el sistema</strong>
    </div>

    {% endif %}

    <a href="../" class="btn btn-danger">Volver</a>
    <a href="../agregarProyecto" class="btn btn-info float-end">Agregar cliente</a>
</body>
</html>